* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #def62a;
    color: #001318;
}

header, section h2, section h3, form button {
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body, form input, form textarea {
    font-family: "Roboto", sans-serif;
}

header h1, section h2 {
    font-weight: normal;
}

h1 {
    margin-bottom: 6px;
}
header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    justify-content: space-around;
}

header nav li a {
    color: #001318;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.fachadaLoja {
    width: 100%;
    height: auto;
    max-height: 600px;
    margin-bottom: 16px;
}

header .container, section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.brandsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brandsList li {
   list-style: none;
}

.brandsList img {
    height: 32px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px;
}

section h2, section h3 {
    margin-bottom: 16px;
    color: #001318;
}

section p {
    margin-bottom: 16px;
    color: #001318;
}

section .fachadaLoja {
    margin-right: 32px;
    border-radius: 5px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border: #def62a solid 1px;
    border-style: solid;
    border-radius: 6px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #def62a;
    color: #001318;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #cbd029;
}

form input:focus, form textarea:focus {
    outline-color: #cbd029;
}

footer {
    background-color: #def62a;
    color: #001318;
    padding: 16px 0;
    font-size: 20px;
    text-align: center;
}
